{% block nav %}
<div class="nav-bar">

<ul> 
<li><a href="{{path('app_home')}}"> Accueil</a> | </li>

{% if is_granted("ROLE_ADMIN") %} 
<li> Admin [ | <a href="{{path('app_user_index')}}">Utilisateurs</a>
 | <a href="{{path('app_service_index')}}">Services</a>
  | <a href="{{path('app_poste_index')}}">Postes</a> ]</li>
{% endif %}
 <li><a href="/#services"> Nos services</a> | </li> {# a changer #}

{% if is_granted("ROLE_MEMBER") %}
<li> <a href="{{ path('app_profile',{'id': app.user.id} ) }}">profile</a>   | <a href="/logout">logout</a>  </li>
{% else %}
<li> <a href="/login">sign-in</a> | <a href="/register">sign-up</a>  </li>
{% endif %}
 
</ul>
</div>
{% endblock %}