{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }} - Accueil
{% endblock %}

{% block body %}
    {{  parent() }}


<div class="welcome">
    <h2>Bienvenue {% if is_granted("ROLE_MEMBER") %} {{ app.user.nom }} ! {% else %} invité mystère {% endif %}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tortor ornare, tincidunt arcu pellentesque, rhoncus tortor.</p>
        
</div>

<section>
    <h1>NOS SERVICES</H1>
		<div class="service-container" id="services">

			{% for service in services %}
				<div class="service">
					<a href="{{path('app_service_membres',{'id': service.id}) }}">
						<h2>
							{{ service.nom }}
						</h2>
					</a>
					<div>{{ service.description }}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
</section>
{% endblock %}
